<mat-toolbar>Acerca De</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <p>
      Esta aplicaci&oacute;n es estrictamente usada dentro del curso de arquitecto aws a cargo del docente @wjma90
    </p>
    <p>
      La funcionalidad t&eacute;cnica consiste en integrar lo sgte:
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem">Frontend monol&iacute;tico</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Frontend desacoplado y hospedado en AWS S3</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Backend monol&iacute;tico</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Backend desacoplado hospedado AWS ECS</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>