<div class="example-container">
  <h2 mat-dialog-title>Registro de encuesta</h2>
  <mat-dialog-content>
    <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit()">
      <!--mat-form-field class="example-full-width">
        <input matInput placeholder="id" name="encuesta.id" [(ngModel)]="encuesta.id" readonly />
      </mat-form-field-->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombres" name="encuesta.nombres" [(ngModel)]="encuesta.nombres" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos" name="encuesta.apellidos" [(ngModel)]="encuesta.apellidos" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Edad" name="encuesta.edad" [(ngModel)]="encuesta.edad"  type="number" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Profesión" name="encuesta.profesion" [(ngModel)]="encuesta.profesion" required/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lugar de Trabajo" name="encuesta.lugatrabajo" [(ngModel)]="encuesta.lugartrabajo" required/>
      </mat-form-field>
      
      <!--mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
        <mat-radio-button *ngFor="let op of tipoOperaciones" name="opciones" [value]="op"  style="margin: 10px">
          {{op}}
        </mat-radio-button>
      </mat-radio-group-->
    
      <mat-radio-group aria-label="Seleccionar Lenguaje" name="encuesta.eleccion" [(ngModel)]="encuesta.eleccion" required>
        <mat-radio-button value="JAVA">JAVA  </mat-radio-button>
        <mat-radio-button value="C#">  C#</mat-radio-button>
      </mat-radio-group>
    <br>
      <!--mat-form-field class="example-full-width">
        <input matInput placeholder="Elección" name="encuesta.eleccion" [(ngModel)]="encuesta.eleccion" required/>
      </mat-form-field-->
      <button type="submit" mat-fab color="primary" [disabled]="myform.invalid">Votar</button>
    </form>
  </mat-dialog-content>
</div>